/*.views-rowbig{
transition: All 0.6s ease;
transform: translate(60px,65px) scale(1.5,1.5);
position: relative;
z-index: 5;
border: none;
} */
.page-beneficios select.global-filter-1-field-relacionado-con-tematica option[value$="101"] ,
.page-beneficios select.global-filter-1-field-relacionado-con-tematica option[value$="104"] ,
.page-beneficios select.global-filter-1-field-relacionado-con-tematica option[value$="103"] ,
.page-beneficios select.global-filter-1-field-relacionado-con-tematica option[value$="10"] {
	display: none;
}


