html, body {
    height: 100% !important;
}

body {
    display: flex !important;
    flex-direction: column !important;
 }

.content {
    flex: 1 0 auto !important;
}

.footer {
    flex-shrink: 0 !important;
}